<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header">
	<title>Créer un point geographique</title>
</head>

<body>

	<!-- Page Wrapper -->
	<div id="wrapper">
		<div th:replace="layout::Sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="layout::Topbar"></div>

				<!-- Begin Page Content -->

				<div class="container">

					<!-- Outer Row -->
					<div class="row justify-content-center">

						<div class="col-xl-8 col-lg-6 col-md-4">

							<div class="card o-hidden border-0 shadow-lg my-5">
								<div class="card-header  bg-primary">
									<div class="text-center">
										<h1 class="h4 text-white">Nouveau geographique</h1>
									</div>
								</div>
								<div class="card-body p-0">
									<!-- Nested Row within Card Body -->
									<div class="row justify-content-center">
										<div class="col-lg-12">
											<div class="p-5">
												<form th:action="@{/pointGeographique/savePointGeographique}"
													th:object="${pg}" method="post" class="user">

													<div class="form-group row">

														<div class="col-sm-6 mb-3 mb-sm-0">
															<input type="text" id="nom" name="nom"
																placeholder="Nom &#x2a"
																class="form-control form-control-user">
														</div>
														<div class="col-sm-6 mb-3 mb-sm-0">
															<select id="typePointGeographique"
																name="typePointGeographique"
																class="form-select form-control-user">
																<option disabled selected>Choisir un type de point
																	geographique *</option>
																<option th:each="typePointGeographique : ${tpgList}"
																	th:value="${typePointGeographique.id}"
																	th:text="${typePointGeographique.nom}"></option>
															</select>
														</div>
													</div>
													<br>
													<div class="form-group row">

														<div class="col-sm-6 mb-3 mb-sm-0">
															<input type="number" id="latitude" name="latitude"
																step="0.0000001" placeholder="Latitude &#x2a"
																class="form-control form-control-user">
														</div>

														<div class="col-sm-6 mb-3 mb-sm-0">
															<input type="number" id="longitude" name="longitude"
																step="0.0000001" placeholder="Longitude &#x2a"
																class="form-control form-control-user">
														</div>
													</div>
													<br>
													<div class="row d-flex justify-content-between pt-2">
														<a class="btn btn-warning btn-user col-sm-2"
															th:href="@{/pointGeographique/}" role="button">Annuler</a>
														<input type="submit" value="Créer"
															class="btn btn-primary btn-user col-sm-2">
													</div>
												</form>

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="layout::Footer"></div>

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<div th:replace="layout::ScrollButtonAndLogoutModal"></div>


</body>

</html>