<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header">
	<title>Détails d'un point geographique</title>
</head>

<body>

	<!-- Page Wrapper -->
	<div id="wrapper">
		<div th:replace="layout::Sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="layout::Topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid d-flex justify-content-center pt-5">
					<!-- DataTales Example -->
					<div class="card shadow mb-4" style="width: 50%;">
						<div class="card-header bg-primary text-white">
							<h2 class="card-title">Détails du point geographique ~ <span
									th:text="${pg.nom}"></span></h2>
							<div class="mt-4">
								<a class="btn btn-secondary" th:href="@{/pointGeographique/}" role="button">Afficher la liste
									<i class="fas fa-list-alt fa-sm fa-fw"></i></a>
								<a th:href="@{/pointGeographique/showPointGeographiqueEditFrom/{id}(id=${pg.id})}" role="button"
									class="btn btn-warning ms-1">Modifier <i class="fas fa-edit fa-sm fa-fw"></i></a>
								<a th:href="@{/pointGeographique/deletePointGeographique/{id}(id=${pg.id})}" role="button"
									class="btn btn-danger ms-1">Supprimer <i class="fas fa-trash fa-sm fa-fw"></i></a>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">

								<h2>Détails d'un point geographique </h2>
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<tr>
										<td>Nom</td>
										<td th:text="${pg.nom}"></td>
									</tr>
									<tr>
										<td>Latitude</td>
										<td th:text="${pg.latitude}"></td>
									</tr>
									<tr>
										<td>Longitude</td>
										<td th:text="${pg.longitude}"></td>
									</tr>
									<tr>
										<td>Type point geographique</td>
										<td th:text="${pg.typePointGeographique}"></td>
									</tr>
	
								</table>


							</div>
						</div>
					</div>

				</div>

				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="layout::Footer"></div>

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<div th:replace="layout::ScrollButtonAndLogoutModal"></div>

</body>

</html>