<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header">
	<title th:text="Modification d'un utilisateur"></title>
</head>

<body>

	<!-- Page Wrapper -->
	<div id="wrapper">
		<div th:replace="layout::Sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="layout::Topbar"></div>

				<!-- Begin Page Content -->

				<div class="container">

					<!-- Outer Row -->
					<div class="row justify-content-center">

						<div class="col-xl-12 col-lg-10 col-md-10">

							<div class="card o-hidden border-0 shadow-lg my-5">
								<div class="card-header  bg-primary">
									<div class="text-center">
										<h1 class="h4 text-white">Modification d'un utilisateur</h1>
									</div>
								</div>
								<div class="card-body p-0">
									<!-- Nested Row within Card Body -->
									<div class="row justify-content-center">
										<div class="col-lg-12">
											<div class="p-5">
												<form action="#"
													th:action="@{/utilisateurs/updateUser/{id}(id=${user.id})}"
													th:object="${user}" method="post" class="user">

													<input type="hidden" name="id" th:value="${user.id}">

													<div class="form-group row">
														<div class="col-sm-6 mb-3 mb-sm-0">
															<input type="text" name="prenom" th:value="${user.prenom}"
																placeholder="Prenom"
																class="form-control form-control-user">
														</div>
														<div class="col-sm-6">
															<input type="text" name="nom" th:value="${user.nom}"
																placeholder="Nom"
																class="form-control form-control-user">
														</div>
													</div>
													<br>

													<div class="form-group row">
														<div class="col-sm-6 mb-3 mb-sm-0">
															<input type="text" name="matricule"
																th:value="${user.matricule}" placeholder="matricule"
																class="form-control form-control-user">
														</div>
														<div class="col-sm-6">
															<input type="text" name="telephone"
																th:value="${user.telephone}" placeholder="Téléphone"
																class="form-control form-control-user">
														</div>
													</div>
													<br>
													<div class="form-group">
														<input type="email" name="email" th:value="${user.email}"
															placeholder="Email" class="form-control form-control-user">
													</div>
													<br>
													<div class="form-check form-switch">
														<input class="form-check-input" type="checkbox" id="isAdmin"
															name="isAdmin" th:value="${user.isAdmin}"
															th:checked="${user.isAdmin}">
														<label class="form-check-label"
															for="isAdmin">Administrateur</label>
													</div>
													<div class="form-check form-switch">
														<input class="form-check-input" type="checkbox" id="enabled"
															name="enabled" th:value="${user.enabled}"
															th:checked="${user.enabled}">
														<label class="form-check-label"
															for="enabled">enabled</label>
													</div>
													<br>
													<input type="hidden" name="password" th:value="${user.password}">

													<div class="row d-flex justify-content-between pt-2">
														<a class="btn btn-warning btn-user col-sm-2"
															th:href="@{/utilisateurs/}" role="button">Annuler</a>
														<button class="btn btn-primary btn-user col-sm-2"
															type="submit">Modifier</button>
													</div>

												</form>

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="layout::Footer"></div>

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<div th:replace="layout::ScrollButtonAndLogoutModal"></div>


</body>

</html>