<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header">
	<title>Liste des Utilisateurs</title>
</head>

<body>

	<!-- Page Wrapper -->
	<div id="wrapper">
		<div th:replace="layout::Sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="layout::Topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid ">

					<!-- Page Heading -->
					<h1 class="mb-2">Utilisateurs</h1>
					<p class="mb-4">Bienvenue sur la page de gestion des utilisateurs. Voici une liste de tous les utilisateurs.
						 Vous pouvez ajouter, modifier, supprimer et afficher les détails de l'utilisateur.</p>
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h4 class="m-0 font-weight-bold text-primary">Liste des Utilisateurs</h4>
							<br>
							<a th:href="@{/utilisateurs/showNewUserForm}"><button class="btn btn-primary">Nouveau utilisateur</button></a>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>ID</th>
											<th>Prenom</th>
											<th>Nom</th>
											<th>Matricule</th>
											<th>Email</th>
											<th>Telephone</th>
											<th>Role</th>
											<th>Etat</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="u:${users}">
											<td th:text="${u.id}"></td>
											<td th:text="${u.prenom}"></td>
											<td th:text="${u.nom}"></td>
											<td th:text="${u.matricule}"></td>
											<td th:text="${u.email}"></td>
											<td th:text="${u.telephone}"></td>
											<td th:text="${u.admin} ? 'Admin' : 'Agent'"></td>
											<td th:if="${u.enabled}" ><span style="font-size: 15px;" class="badge bg-success text-white">Active</span></td>
											<td  th:unless="${u.enabled} "><span style="font-size: 15px;" class="badge bg-danger">Désactive</span></td>
											<td>
												<a th:href="@{/utilisateurs/showUser/{id}(id=${u.id})}" class="btn btn-sm btn-primary mx-1"><i class="fas fa-eye fa-sm fa-fw"></i></a>
												<a
													th:href="@{/utilisateurs/showUserEditFrom/{id}(id=${u.id})}" class="btn btn-warning btn-sm mx-1"><i class="fas fa-edit fa-sm fa-fw"></i></a>
												<a th:href="@{/utilisateurs/deleteUser/{id}(id=${u.id})}" class="btn btn-danger btn-sm mx-1"><i class="fas fa-trash fa-sm fa-fw"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>

				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="layout::Footer"></div>

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<div th:replace="layout::ScrollButtonAndLogoutModal"></div>

</body>

</html>