<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header">
	<title>Details d'un utilisateur</title>
</head>

<body>

	<!-- Page Wrapper -->
	<div id="wrapper">
		<div th:replace="layout::Sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="layout::Topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-body">
							<div class="table-responsive">

								<h2>Détails de l'utilisateur</h2>
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<tr>
										<th>Attribut</th>
										<th>Valeur</th>
									</tr>
									<tr>
										<td>Prénom</td>
										<td th:text="${user.prenom}"></td>
									</tr>
									<tr>
										<td>Nom</td>
										<td th:text="${user.nom}"></td>
									</tr>
									<tr>
										<td>Matricule</td>
										<td th:text="${user.matricule}"></td>
									</tr>
									<tr>
										<td>Téléphone</td>
										<td th:text="${user.telephone}"></td>
									</tr>
									<tr>
										<td>Email</td>
										<td th:text="${user.email}"></td>
									</tr>
									<tr>
										<td>Mot de passe</td>
										<td th:text="${user.password}"></td>
									</tr>
									<tr>
										<td>Est administrateur</td>
										<td th:text="${user.isAdmin}"></td>
									</tr>
								</table>
							</div>
						</div>
					</div>

				</div>

				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="layout::Footer"></div>

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<div th:replace="layout::ScrollButtonAndLogoutModal"></div>

	<!-- Page level plugins -->
	<script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

	<!-- Page level custom scripts -->
	<script th:src="@{/js/demo/datatables-demo.js}"></script>


</body>

</html>