<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header">
	<title>Créer une itineraire</title>
</head>

<body>

	<!-- Page Wrapper -->
	<div id="wrapper">
		<div th:replace="layout::Sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="layout::Topbar"></div>

				<!-- Begin Page Content -->

				<div class="container">

					<!-- Outer Row -->
					<div class="row justify-content-center">

						<div class="col-xl-8 col-lg-6 col-md-4">

							<div class="card o-hidden border-0 shadow-lg my-5">
								<div class="card-header  bg-primary">
									<div class="text-center">
										<h1 class="h4 text-white">Nouvelle itineraire</h1>
									</div>
								</div>
								<div class="card-body p-0">
									<!-- Nested Row within Card Body -->
									<div class="row justify-content-center">
										<div class="col-lg-12">
											<div class="p-5">
												<form th:action="@{/itineraires/saveItineraire}"
													th:object="${itineraire}" method="post" class="user">

													<div class="form-group">
														<input type="text" id="nom" name="nom" placeholder="Nom"
															class="form-control form-control-user">
													</div>

													<div class="form-group">
														<select id="depart" name="depart"
															class="form-select form-control-user">
															<option disabled selected>Choisir le central de depart</option>
															<option th:each="depart : ${centralList}"
																th:value="${depart.id}" th:text="${depart.nom}">
															</option>
														</select>
													</div>

													<div class="form-group">
														<select id="arrivee" name="arrivee"
															class="form-select form-control-user">
															<option disabled selected>Choisir le site de destination</option>
															<option th:each="arrivee : ${siteList}"
																th:value="${arrivee.id}" th:text="${arrivee.nom}">
															</option>
														</select>
													</div>

													<div class="form-group">
														<select id="pointGeographiques" name="pointGeographiques"
															multiple class="form-select">
															<option disabled selected>Selectionner les points geographiques de
																l'itineraire</option>
															<option th:each="point : ${chambreList}"
																th:value="${point.id}" th:text="${point.nom}"></option>
														</select>
													</div>
													<br>
													<div class="row d-flex justify-content-between pt-2">
														<a class="btn btn-warning btn-user col-sm-2"
															th:href="@{/itineraires/}" role="button">Annuler</a>
														<input type="submit" value="Créer"
															class="btn btn-primary btn-user col-sm-2">
													</div>
												</form>

											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="layout::Footer"></div>

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<div th:replace="layout::ScrollButtonAndLogoutModal"></div>

</body>

</html>