<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Produits</title>
</head>
<body>
<div class="container mt-5">
<div class="card">
<div class="card-header">
Liste des ProduitsNadhem Bel Hadj- nadhemb@yahoo.com Page 6 Spring Boot (maj 2023)
</div>
<div class="card-body">
<table class="table table-striped">
<tr>
<th>ID</th><th>Nom Produit</th><th>Prix</th>
</tr>
<tr th:each="p:${users}">
<td th:text="${p.id}"></td>
<td th:text="${p.nom}"></td>
<td th:text="${p.prenom}"></td>
</tr>
</table>
</div>
</div>
</div>
</body>
</html>