<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout::header">
	<title>Liste des Drones</title>
</head>

<body>

	<!-- Page Wrapper -->
	<div id="wrapper">
		<div th:replace="layout::Sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="layout::Topbar"></div>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-2 text-gray-800">Drone</h1>
					<p class="mb-4">Bienvenue sur la page de gestion des drones.
						Voici une liste de tous les drones.
						Vous pouvez ajouter, modifier, supprimer et afficher les détails d'un drone.
					</p>

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h4 class="m-0 font-weight-bold text-primary">Liste des Drones</h4>
							<h6><a th:href="@{/drones/showNewDroneForm}" class="btn btn-primary mt-3"> Nouveau drone
								</a></h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>ID</th>
											<th>Matricule</th>
											<th>Modele</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d:${drones}">
											<td th:text="${d.id}"></td>
											<td th:text="${d.matricule}"></td>
											<td th:text="${d.modele}"></td>
											<td>
												<a th:href="@{/drones/showDrone/{id}(id=${d.id})}"
													class="btn btn-sm btn-primary mx-1"><i
														class="fas fa-eye fa-sm fa-fw"></i></a>
												<a th:href="@{/drones/showDroneEditFrom/{id}(id=${d.id})}"
													class="btn btn-warning btn-sm mx-1"><i
														class="fas fa-edit fa-sm fa-fw"></i></a>
												<a th:href="@{/drones/deleteDrone/{id}(id=${d.id})}"
													class="btn btn-danger btn-sm mx-1"><i
														class="fas fa-trash fa-sm fa-fw"></i></a>
											</td>
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</div>

				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="layout::Footer"></div>

		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<div th:replace="layout::ScrollButtonAndLogoutModal"></div>

</body>

</html>